#title {
	font-size: 2em;
}

.samples_container {
	overflow-x: scroll;
	background: url(../img/white40.png);
}

.samples {
	width: 2102px;
	height: 100px;
	overflow-y: hidden;
	margin-left: -24px;
}

.sample {
	width: 100px;
	height: 100px;
}

.selected {
	border: 1px solid yellow;
}

/*
input[type=submit], button {
	width: 97px;
	height: 29px;
	background: url(../img/btn_submit.png) no-repeat;
	border: none;
}

input[type=submit]:hover {
	opacity: 0.8;
}
*/
