#title {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 3em;
	margin: 32px;
}

#timer {
	padding: 32px 0px;
	display: block;
}

#timer h1 {
	font-family: "Helvetica", Arial, sans-serif;
	font-size: 5em;
	line-height: 1em;
}

#submit {
	width: 97px;
	height: 97px;
	background: url(../img/btn_go.png) no-repeat;
	background-position: center;
	border: none;
}
